.small-cards-container {
    flex-shrink: 0;
    height: 60vh;
    margin-top: 45px;
}

.big-and-small-card-container {
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 45px;
}

.small-card {
    border-radius: 10px;
    border: 0px solid rgb(255, 255, 255);
    width: 250px;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-position: center;
    color: white;
}

.small-card:first-child {
    margin-left: 10px;
}

.small-card-title {
    font-family: 'Inter', sans-serif;
    text-transform: none;
    max-width: 130px !important;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .01em;
    padding: 0 10px 20px 10px;
    text-align: left;
    line-height: 1.2em;
}
